body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e );
}
.main{
    width: 100vw;
    height: 500px;
    background: red;
    overflow: hidden;
    background:url() no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin-top: 70px;
}

.sig{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 20px 50px #000;
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    bottom: 10px;
    
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}


.sig_btn{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #573b8a;
    width: 10%;
    height: 40px;
    
    justify-content: center;
    display: block;
    color: #fff;
    
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;

}

button:hover{
    background: #6d44b8;
}

/* .login{
    height: 460px;
    background: #eee;
    border-radius: 60%/10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}

#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
} */