body{
    margin: 0;
    padding-top: 56px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background: #6e2592;
    transition: 0.3s;
    color:white;
    z-index: 50;
}

nav.scrolled-down {
    height:80px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.14);
}

nav.scrolled-down img{
    scale:1.25;
}

nav img{
    width: 50px;
    height: 50px;
    transform-origin: 0% 50%;
    transition: 0.3s;
}

.links{
    display: flex;
    gap: 16px;
}

.container{
    margin: 0 10%;
    width: 80%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.links a{
    color: white;
    display: flex;
    z-index: 555566;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
        
}
