.searchBar{
    display: relative;
    padding: 60px;       
    margin: 90px;
    color: white;

}

.Search{
    font-size: larger;
}
.input-group{
    position: relative;
}

input{
    margin-bottom: 30px;
    width: 70vw;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 2rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
label{
    position: absolute;
    left: 16px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
input:focus{
    outline: none;
    /* border: 1.5px solid #1a73e8; */
}

input:focus ~ label{
    transform: translateY(-50%) scale(0.8);
    font-size: 1rem;
/*     
    color: #1a73e8; */
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}

button{
   
    position: absolute;
    border: none;
    color: #ffffff;
    width: 9rem;
    height: 3rem;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}

button:hover{
    animation: animation 8s linear infinite;
    border: none;
}
@keyframes animation{
    0%{background-position: 0%,}
    100% {background-position: 400%;}
}

button::before{
    content:"";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

button:hover::before{
    filter: blur(20px);
}